#nav{
    width: 300px;
    background: grey;
}

.title{
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    text-indent: 1em;

    /*
   颜色 图片 图片位置 平铺方式
    */
    background: red url("../images/d.png") 270px 10px no-repeat;
}
/*list-style:
    none 去除前面的黑圆圈，有序列表的数字
    circle 空心圆
    decimal 数字
    square 正方形

*/

/*ul{
    background: grey;
}*/

ul li{
    height: 30px;
    list-style: none;
    text-indent: 1em;
    background-image: url("../images/r.png");
    background-repeat: no-repeat;
    background-position: 236px 2px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
a:hover{
    color: orange;
    text-decoration: underline;
}