div{
    margin: 10px;
    padding: 5px;
}

#father{
    border: 1px solid #000;
}

#father:after{
    content: '';
    display: block;
    clear: both;
}

.layer01{
    border: 1px dashed red;
    display: inline-block;
    float: right;
}

.layer02{
    border: 1px dashed blue;
    display: inline-block;
    float: right;
}

.layer03{
    border: 1px dashed skyblue;
    display: inline-block;
    float: right;
}

.layer04{
    border: 1px dashed rgb(6,6,6);
    font-size: 12px;
    line-height: 23px;
    float: right;
}